<div class="login-form">
    <h1>{{ t('Login', 'user') }}</h1>

    {% set htmlForm=this.beginWidget('MActiveForm', {
    'id': 'UserLogin-form',
    'enableAjaxValidation': true,
    'clientOptions': {
    'validateOnSubmit': true
    }
    })|raw %}

    {{ htmlForm.errorSummary(model)|raw }}

    <div class="login-form-rows">
        {{ form.setForm(htmlForm, true) }}

        <div class="row">
            {{ form.username|raw }}
            {{ form.username.error|raw }}
        </div>
        <div class="row">
            {{ form.password|raw }}
            {{ form.password.error|raw }}
        </div>
    </div>

    <div class="row submit">
        <div class="button-holder">
            <button type="submit" class="button">{{ t('Login', 'user') }}</button>
        </div>
        <div class="links-holder">
            <a href="{{ url('user.registration') }}">{{ t('Registration', 'user') }}</a>
            <a href="{{ url('user.recoverform') }}">{{ t('Lost password?', 'user') }}</a>
        </div>
        <p class="clear"></p>
    </div>

    {{ this.endWidget() }}
</div>
